.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 50px;
}

.trybewarts-header-logo {
  width: 30px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 10px;
}

#trybewarts-header-title {
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#name-lastname {
  flex-direction: row;
<<<<<<< HEAD
  /* width: auto; */
=======
>>>>>>> 88c5093d9b4ca3e520509339663119a8c86dcc04
}

#input-name {
  width: 45%;
}

#input-lastname {
  width: 50%;
}
