.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 50px;
}

.trybewarts-header-logo {
  width: 40px;
}

form.trybewarts-login {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  
}

#trybewarts-header-title {
  color: white;
  text-align: center;
  margin: 0 auto;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#name-lastname {
  flex-direction: row;
}

#input-name {
  width: 45%;
}

#input-lastname {
  width: 50%;
}

#section-2 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#label-family {
  margin-top: 15px;
  flex-direction: row;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.radio-buttons {
  display: flex;
}

.radio-buttons input [ type = 'radio' ] {
  margin-right: 5px;
}

#rodape {
  display: absolute;
  bottom: 0;
  background-color: rgb(53, 51, 51);
  color: white;
  text-align: center;
  height: 30px;
}

#submit-btn {
  background-color: purple;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

#title-formulary {
  font-size: 20px;
  text-align: center;
}

#button-login {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 0 20px;
  height: 25px;
}

.header .trybewarts-login {
  padding: 10px;
}

#id-password {
  border: none;
  border-radius: 7px;
  padding: 0 2px;
  height: 25px;
}

#id-email {
  border: none;
  border-radius: 7px;
  padding: 0 2px;
  height: 25px;
}
